name: C app CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        compiler: [gcc]

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up build env
      run: |
        if [ "${{ runner.os }}" == "Windows" ]; then
          choco install make;
        else
          sudo apt-get install -y build-essentials;
        fi
      
    - name: Build app
      run: |
        make clean
        make linked
